[Unit]
Description=Cubic Telegram Bot
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/cubic-bot-telegram
ExecStart=/usr/bin/cubic-bot-telegram-app

[Install]
WantedBy=multi-user.target
