[Unit]
Description=Cubic Telegram Bot (Webhook)
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/cubic-bot-telegram
ExecStart=/usr/bin/cubic-bot-telegram-webhook

[Install]
WantedBy=multi-user.target
