[Unit]
Description=Cubic Telegram Bot
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%h/.config/cubic-bot-telegram
ExecStart=/usr/bin/cubic-bot-telegram-app

[Install]
WantedBy=default.target
