name: Build

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      # Publish
      - name: Define MSBuild properties
        run: echo "MSBUILD_PROPS=-p:PublishSingleFile=true -p:PublishTrimmed=true -p:DebuggerSupport=false -p:EnableUnsafeBinaryFormatterSerialization=false -p:EnableUnsafeUTF7Encoding=false -p:InvariantGlobalization=true" >> $GITHUB_ENV

      - name: Publish framework-dependent
        run: |
          dotnet publish CubicBot.Telegram -c Release --no-restore

      - name: Publish self-contained for Linux ARM64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained

      - name: Publish self-contained for Linux x64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r linux-x64 --self-contained

      - name: Publish self-contained for Windows ARM64
        if: matrix.os == 'windows-2022'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r win-arm64 --self-contained

      - name: Publish self-contained for Windows x64
        if: matrix.os == 'windows-2022'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r win-x64 --self-contained

      # Upload CubicBot.Telegram
      - name: Upload CubicBot.Telegram artifacts for Linux ARM64
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-linux-arm64
          path: CubicBot.Telegram/bin/Release/net6.0/linux-arm64/publish/

      - name: Upload CubicBot.Telegram artifacts for Linux x64
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-linux-x64
          path: CubicBot.Telegram/bin/Release/net6.0/linux-x64/publish/

      - name: Upload CubicBot.Telegram artifacts for Linux framework-dependent
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-linux
          path: CubicBot.Telegram/bin/Release/net6.0/publish/

      - name: Upload CubicBot.Telegram artifacts for Windows ARM64
        if: matrix.os == 'windows-2022'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-windows-arm64
          path: CubicBot.Telegram/bin/Release/net6.0/win-arm64/publish/

      - name: Upload CubicBot.Telegram artifacts for Windows x64
        if: matrix.os == 'windows-2022'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-windows-x64
          path: CubicBot.Telegram/bin/Release/net6.0/win-x64/publish/

      - name: Upload CubicBot.Telegram artifacts for Windows framework-dependent
        if: matrix.os == 'windows-2022'
        uses: actions/upload-artifact@v3
        with:
          name: cubic-bot-telegram-${{ github.sha }}-windows
          path: CubicBot.Telegram/bin/Release/net6.0/publish/
