name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_upload:
    name: Publish and upload
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: Restore dependencies
        run: dotnet restore

      # Publish
      - name: Define MSBuild properties
        run: echo "MSBUILD_PROPS=-p:PublishSingleFile=true -p:PublishTrimmed=true -p:DebuggerSupport=false -p:EnableUnsafeBinaryFormatterSerialization=false -p:EnableUnsafeUTF7Encoding=false -p:InvariantGlobalization=true" >> $GITHUB_ENV

      - name: Publish framework-dependent
        run: |
          dotnet publish CubicBot.Telegram -c Release --no-restore

      - name: Publish self-contained for Linux ARM64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained

      - name: Publish self-contained for Linux x64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r linux-x64 --self-contained

      - name: Publish self-contained for Windows ARM64
        if: matrix.os == 'windows-2022'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r win-arm64 --self-contained

      - name: Publish self-contained for Windows x64
        if: matrix.os == 'windows-2022'
        run: |
          dotnet publish CubicBot.Telegram -c Release $MSBUILD_PROPS -r win-x64 --self-contained

      # Package
      - name: Package for Linux
        if: matrix.os == 'ubuntu-latest'
        env:
          ZSTD_CLEVEL: 19
          ZSTD_NBTHREADS: 2
        run: |
          # CubicBot.Telegram
          cd CubicBot.Telegram/bin/Release/net6.0/publish
          tar -acf ../cubic-bot-telegram-${{ github.ref_name }}-linux.tar.zst .
          cd ../linux-arm64/publish
          tar -acf ../../cubic-bot-telegram-${{ github.ref_name }}-linux-arm64.tar.zst .
          cd ../../linux-x64/publish
          tar -acf ../../cubic-bot-telegram-${{ github.ref_name }}-linux-x64.tar.zst .

      - name: Package for Windows
        if: matrix.os == 'windows-2022'
        run: |
          # CubicBot.Telegram
          cd CubicBot.Telegram/bin/Release/net6.0/publish
          7z a -tzip -mx=9 -mfb=128 ../cubic-bot-telegram-${{ github.ref_name }}-windows.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../cubic-bot-telegram-${{ github.ref_name }}-windows.7z .
          cd ../win-arm64/publish
          7z a -tzip -mx=9 -mfb=128 ../../cubic-bot-telegram-${{ github.ref_name }}-windows-arm64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../cubic-bot-telegram-${{ github.ref_name }}-windows-arm64.7z .
          cd ../../win-x64/publish
          7z a -tzip -mx=9 -mfb=128 ../../cubic-bot-telegram-${{ github.ref_name }}-windows-x64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../cubic-bot-telegram-${{ github.ref_name }}-windows-x64.7z .

      # Release
      - name: Upload release assets for Linux
        uses: svenstaro/upload-release-action@v2
        if: matrix.os == 'ubuntu-latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: CubicBot.Telegram/bin/Release/net6.0/*.tar.zst
          tag: ${{ github.ref }}
          file_glob: true
          prerelease: true

      - name: Upload release assets for Windows
        uses: svenstaro/upload-release-action@v2
        if: matrix.os == 'windows-2022'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: CubicBot.Telegram/bin/Release/net6.0/cubic-bot-telegram-*-windows*.*
          tag: ${{ github.ref }}
          file_glob: true
          prerelease: true
